/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
}

body {
    background-color: #F3F1FF;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.top-player-section {
    width: 870px;
    border-radius: 5px;
    background-color: #fff;
    padding: 30px;
    margin-top: 50px;
    border-bottom: 1px solid #D1D1D1;
}

.section-title {
    color: #562EFF;
    font-size: 24px;
    margin-bottom: 20px;
}

.top-players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}

.players {
    display: flex;
    align-items: center;
}

.players img {
    width: 56px;
}

.players-name {
    margin-left: 16px;
    font-size: 18px;

}

/* Blogs section csss */
.blog-section {
    width: 870px;
    border-radius: 5px;
    background-color: #fff;
    padding: 30px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
}

.blog {
    display: flex;
}

.blog-thumbnail img {
    width: 130px;
}

.blog-info {

    margin-left: 16px;
}

.blog-info h2 {
    font-size: 20px;
}

p.blog-author {
    color: #9F9F9F;
    font-size: 16px;
}

p.blog-author a {
    color: #562EFF;
    text-decoration: none;
}

/* latest-course-section */
.latest-course-section {
    border-radius: 5px;
    width: 870px;
    background-color: #fff;
    padding: 30px !important;
    margin-top: 20px;
    margin-bottom: 50px;
}

.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}

.course-item {

    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
}

.course-item img {
    width: 224px;
}

.course-item h3 {
    font-size: 18px;
}

.teacher {
    font-size: 15px;
    color: #ED6B4F;
    font-weight: 400;
    margin: 10px 0;
}

.rating i {
    color: #FFC014;
    font-size: 13px;
}

.rating-number {
    color: #A2A2A2;
    font-size: 13px;
}

.review-and-time {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.time {
    padding: 3px 7px;
    border-radius: 15px;
    background-color: rgba(235, 40, 40, 0.203);
}

.time h5 {
    font-size: 13px;
    color: #ED6B4F;
}

.time i {
    font-size: 13px;
}

/* responsive for mobile */
@media only screen and (max-width: 400px) {
    .top-player-section {
        margin-top: 0;
    }

    .section-title {

        margin-left: 10px;
    }

    .top-player-section,
    .blog-section,
    .latest-course-section {
        width: 90%;
    }

    .top-players {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 10px;


    }

    .blogs,
    .courses {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 10px;


    }

    .players {
        flex-direction: column
    }

    .players-name {
        margin-left: 0;
        font-size: 14px;
    }

    .blog {
        flex-direction: column;
        padding: 5px 10px;
    }

    .blog-info {
        margin-left: 0;
    }

    .latest-course-section {
        margin-bottom: 0;
    }

    .courses {
        grid-row-gap: 10px;
        justify-content: center;
    }
}

/* For tablet */
@media only screen and (min-width: 401px) and (max-width:768px) {
    .section-title {

        margin-left: 10px;
    }

    .top-player-section {
        margin-top: 0;
    }


    .top-player-section,
    .blog-section,
    .latest-course-section {
        width: 90%;
    }

    .top-players,
    .blogs,
    .courses {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;



    }


    .latest-course-section {
        margin-bottom: 0;
    }
}